/* all divs */
div {
  width: 100px;
  float: left;
  /* lets divs float to the left side by side */
  /* forms a grid */
}
/* ids only work for one thing */
#one {
  background-color: red;
}

#two {
  background-color: blue;
}

img {
  width: 30%;
  float: left;
  /* float gets rid of white space for us and us our own space */
  margin: 1.66%;
  /* grid for 3 items that take one third of page */
}

p {
  font-family: 'Oswald', sans-serif;
  padding: 20px;
  margin-left: 1.66;
  font-size: 23px;
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: 3px solid #f1f1f1;
  width: 30px;
}
